// css var
html, :root
  --primary-color: #415BA5
  --secondary-color: #FDAD18
  --light-color: #efefef
  --dark-color: #3F4253
  --primary-opacity-color: rgba(65,91,165, .5)
  --secondary-opacity-color: rgba(233,172,49, .5)
  --primary-opacity-color-hover: rgba(65,91,165, .8)
  --secondary-opacity-color-hover: rgba(233,172,49, .8)

// sass var
$primary-color: var(--primary-color)
$secondary-color: var(--secondary-color)
$light-color: var(--light-color)
$dark-color: var(--dark-color)
$primary-opacity-color: var(--primary-opacity-color)
$secondary-opacity-color: var(--secondary-opacity-color)
$primary-opacity-color-hover: var(--primary-opacity-color-hover)
$secondary-opacity-color-hover: var(--secondary-opacity-color-hover)
