// Brand colors
$brand-color-primary: #5887f5 !default
$brand-color-secondary: #e3125c !default

// Content colors (text)
$content-color-default: #17334f !default
$content-color-contrast: darken($content-color-default, 5%) !default
$content-color-subtle: scale-color($content-color-default, $saturation: -70%, $lightness: 50%) !default
$content-color-nonessential: scale-color($content-color-default, $saturation: -80%, $lightness: 70%) !default

// Theme colors
$theme-color-0: #ffffff !default
$theme-color-1: darken($theme-color-0, 5%) !default
$theme-color-2: darken($theme-color-0, 10%) !default
$theme-color-3: darken($theme-color-0, 20%) !default



// COLORS CLASSES BACKGROUND
// Brand colors Classes
.brand-color-primary
  background: $brand-color-primary
.brand-color-secondary
  background: $brand-color-secondary

// Content colors Classes
.content-color-default
  background: $content-color-default
.content-color-contrast
  background: $content-color-contrast
.content-color-subtle
  background: $content-color-subtle
.content-color-nonessential
  background: $content-color-nonessential

// Theme colors Classes
.theme-color-0
  background: $theme-color-0
.theme-color-1
  background: $theme-color-1
.theme-color-2
  background: $theme-color-2
.theme-color-3
  background: $theme-color-3

// COLORS CLASSES TEXT
// Brand colors Classes
.brand-color-primary
  color: $brand-color-primary
.brand-color-secondary
  color: $brand-color-secondary

// Content colors Classes
.content-color-default
  color: $content-color-default
.content-color-contrast
  color: $content-color-contrast
.content-color-subtle
  color: $content-color-subtle
.content-color-nonessential
  color: $content-color-nonessential

// Theme colors Classes
.theme-color-0
  color: $theme-color-0
.theme-color-1
  color: $theme-color-1
.theme-color-2
  color: $theme-color-2
.theme-color-3
  color: $theme-color-3
