button
  text-align: center
  outline: none
  border: none
  -webkit-appearance: none
  padding: 0.75rem 1.75rem
  height: 2.75em
  cursor: pointer
  border-radius: 4px
  display: inline-block
  -webkit-tap-highlight-color: transparent

.btn-primary
  color: white
  background: $primary-color
  +prefixer(box-shadow, 0 4px 7px 0 rgba($primary-color-base, 0.3))
  +prefixer(transition, all .3s)
  &:hover
    +prefixer(box-shadow, 0 4px 10px 3px rgba($primary-color-base, 0.4))
    +prefixer(transition, all .3s)
  &:active
    +prefixer(box-shadow, 0 2px 3px 0 rgba($primary-color-base, 0.4))
    +prefixer(transition, all .2s)

.btn-secondary
  color: white
  background: $secondary-color
  +prefixer(box-shadow, 0 4px 7px 0 rgba($secondary-color-base, 0.4))
  +prefixer(transition, all .3s)
  &:hover
    +prefixer(box-shadow, 0 4px 10px 3px rgba($secondary-color-base, 0.4))
    +prefixer(transition, all .3s)
  &:active
    +prefixer(box-shadow, 0 2px 3px 0 rgba($secondary-color-base, 0.4))
    +prefixer(transition, all .2s)
